<h3>Add new Hero</h3>

<form {{action 'createHero' model on='submit'}}>
  <p>Name:</p>
  {{input type="text" name="name" value=model.name}}

  <p>Description:</p>
  {{textarea name="" value=model.description rows="5" cols="50"}}

  <p>Attack:</p>
  {{input type="number" name="" value=model.attack}}

  <p>Health:</p>
  {{input type="number" name="" value=model.health}}

  <p>Race:</p>
  <select {{action 'onChange' model on='change'}}>
    <option value="">Select</option>
    <option value="terran">Terran</option>
    <option value="protoss">Protoss</option>
    <option value="zerg">Zerg</option>
  </select>

  <p><input type="submit"></p>
</form>
